<% if @task %>
  <h3>New Breadcrumb for Task <%=h @task.name %></h3>
<% else %>
  <h3>New breadcrumb</h3>
<% end %>

<% form_for(@breadcrumb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 15, :cols => 60 %>
  </p>
  <p>
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', breadcrumbs_path %>
