<p>
  <b>Name:</b>
  <%=h @breadcrumb.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @breadcrumb.notes %>
</p>

<p>
  <b>Status:</b>
  <%=h @breadcrumb.status %>
</p>

<p>
  <b>Task:</b>
  <%= link_to @breadcrumb.task.name, @breadcrumb.task %>
</p>


<%= link_to 'Edit', edit_breadcrumb_path(@breadcrumb) %> |
<%= link_to 'Back', breadcrumbs_path %>
